* {
    margin: 0;
    padding: 0;
}

body {
    background: #D2E8FF;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D2E8FF;
}

.card {
    margin: 20px;
    padding: 20px;
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
}

img {
    border-radius: 30px;
}